.quantity, .general, .price {
    display: inline-block;
    font-size: 14px;
}

.highlight {
    border: solid 1px #3c3;
}

.quantity {
    text-align: right;
}

.price {
    text-align: right;
}

td input {
    border: solid 1px #ccc;
    border-right: none;
    width: 100%;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 9px 7px;
}

td input.right {
    border-right: solid 1px #ccc;
}

.green input {
    border: solid 1px #cccccc;
    border-right: none;
    background-color: #f9ead0;
    color: #333;
}

.green input.right {
    border-right: solid 1px #f9ead0;
}

.delColumn {
    width: 30px;
    text-align: center;
    color: #c33;
    cursor: pointer;
}

.priceCol {
    width: 15%;
}

.quantityCol {
    width: 18%;
}

.namaCol {
    width: 48%;
}
