.etalase {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    width: 60%;
}

.categoryLabelWrapper {
    height: 30px;
    margin-top: 10px;
    position: relative;
}

.categoryLabel {
    background-color: #fff;
    font-size: 20px;
    font-weight: 600;
    color: #575757;
    display: inline-block;
    left: -10px;
    padding: 10px;
    position: absolute;
    top: -20px;
}

.item {
    border: solid 2px #e2e2e2;
    float: left;
    font-size: 14px;
    color: #575757;
    height: 258px;
    margin: 0 12px 15px 0;
    position: relative;
    text-align: left;
    width: 150px;
    border-radius: 4px;
    padding: 0 10px;
}

.item:hover {
    box-shadow: 2px 2px 2px 1px rgba(150, 150, 150, 0.2);
}

.item .counter {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 0;
}

.item .img {
    display: block;
    /*height: 103px;*/
    width: 145px;
    margin: 0 auto;
}

.selected {
    border: solid 2px #75c890;
}

.item .harga {
    position: absolute;
    bottom: 55px;
    display: block;
    color: #bf4b4b;
    font-size: 12px;
}

.loadingWrapper {
    overflow: hidden;
    height: 150px;
}

.loading {
    display: block;
    margin: 0 auto;
    position: relative;
    top: -80px;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #c33;
}

.etaWrapper {
    position: relative;
    border-bottom: solid 1px #979797;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.pagingWrapper {
    position: absolute;
    right: 0;
    top: -7px;
}

.categoryToggle {
    position: relative;
    border-radius: 4px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    padding: 0 10px;
    margin-left: 10px;
    cursor: pointer;
    z-index: 5;
    border: solid 1px #fff;
}

.categoryToggle:hover {
    border: solid 1px #187be7;
}

.categoryToggle.categorySelected {
    background-color: #187be7;
    color: #fff;
}

.categoryToggle.categorySelected:hover {
    border: solid 1px #fff;
}

.counter .plus, .counter .minus, .counter .input, .counter .inputShadow {
    border: solid 2px #c5c5c5;
    border-radius: 4px;
    height: 36px;
    width: 36px;
    display: inline-block;
    font-size: 23px;
    line-height: 36px;
    color: #666;
    cursor: pointer;
    text-align: center;
    position: absolute;
}

.counter .plus:hover,
.counter .minus:hover {
    border: solid 2px #bbb;
}

.counter .plus {
    right: 10px;
}

.counter .minus {
    left: 10px;
}

.counter .input, .counter .inputShadow {
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 7;
    font-size: 16px;
}

.counter .input:hover, .counter .input:focus {
    /*box-shadow: 2px 2px #ccc;*/
    border: solid 2px #7cb1ec;
}

.counter .plus:hover {
    background-color: #75c891;
    color: #fff;
    border: none;
    top: 2px;
    right: 12px;
}

.counter .minus:hover {
    background-color: #db6f6f;
    color: #fff;
    border: none;
    top: 2px;
    left: 12px;
    /*line-height: ;*/
}

.itemName {
    display: inline-block;
    max-height: 40px;
    overflow: hidden;
}
