.wrapper {
	position: absolute;
  top: 0;
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 10000px;
	height: 10000px;
	background-color: #000;
	opacity: 0.35;
  z-index: 10;
}

.modal, .modal2 {
	width: 350px;
  border-radius: 8px;
  background-color: #ffffff;
  border: solid 1px #dadada;
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
    padding: 0 35px;
  z-index: 11;
  padding-bottom: 30px;
}

.modal.signIn {
  height: 410px;
}

.modal.register {
  height: 510px;
}

.title {
	display: block;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #187be7;
  margin-top: 28px;
  margin-bottom: 28px;
}

.signInBtn {
	position: relative;
	display: inline-block;
	width: 100%;
	line-height: 46px;
	color: #fff;
	cursor: pointer;
  height: 46px;
  border-radius: 4px;
  background-color: #187be7;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
}

.inputWrapper {
	text-align: left;
  position: relative;
}

.inputLabel {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #575757;
  text-align: left;
  display: inline-block;
  margin-bottom: 6px;
}

.inputWrapper input {
width: 100%;
  height: 36px;
  opacity: 0.7;
  border-radius: 4px;
  border: solid 1px #979797;
  /*text-indent: 15px;*/
  text-align: left;
  text-indent: 15px;
	font-size: 18px;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto 16px;
}

.toRegister {
    display: inline-block;
    margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #7d7d7d;
}

.registerLink {
    color: #187be7;
    cursor: pointer;
}

.closeBtn, .closeDev {
  position: absolute;
  top: 24px;
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.eye {
  position: absolute;
  top: 35px;
  right: 10px;
  cursor: pointer;
}

.modal2 {
  width: 710px;
  text-align: left;
  padding: 20px 29px 20px 29px;
}

.titleDev {
  text-align: left;
  font-size: 18px;
  color: #575757;
}

.closeDev {
  right: 25px;
  top: 20px;
}

.penerimaWrap {
  display: inline-block;
  float: left;
  width: 48%;
  margin-top: 18px;
}

.penerimaWrap.right {
  float: right;
  position: relative;
  left: -5px;
}

.labelNamaDev {
  font-size: 14px;
  color: #575757;
}

.inputNamaDev, .inputAlamatDev {
  border: solid 1px #979797;
  border-radius: 4px;
  height: 36px;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  text-indent: 10px;
}

.alamatWrap {
  margin-top: 11px;
}

.inputAlamatDev {
  height: 72px;
  padding-left: 10px;
  padding-top: 10px;
  width: 98%;
  text-indent: 0;
}

.konfirmasiBtn {
  background-color: #ec722d;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 46px;
  color: #fff;
  line-height: 46px;
  text-align: center;
  font-size: 15px;
  margin-top: 36px;
  cursor: pointer;
}

.konfirmasiBtn:hover {
  box-shadow: 2px 2px #aaa;
}
